@import url(../fonts/ft40/ft40.css);
@import url(../fonts/AG Book Pro Regular/AG Book Pro Regular.css);
@import url(../fonts/AG Book Pro Bold/AG Book Pro Bold.css);
.header {
  background: #19233c;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 1; }
  .header__logo, .header__ether {
    border-right: 1px solid #29324a;
    min-height: 80px; }
  .header__logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 1.5rem; }
  .header__ether {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 2rem; }
    .header__ether-info {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      color: white;
      line-height: 1.2; }
      .header__ether-info-text {
        display: inline-block;
        font-size: 12px; }
      .header__ether-info-title {
        font-weight: bold;
        text-transform: uppercase; }
    .header__ether-img img {
      margin-right: 25px; }
  .header__etc {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-left: 2rem;
    padding-right: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header__etc .middle-list__title {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      color: white;
      line-height: 1.2; }
      .header__etc .middle-list__title .header__ether-info-text {
        font-size: 14px; }
    .header__etc .middle-list__link {
      color: #306dbe;
      display: inline-block;
      font-size: 12px;
      font-weight: bold; }
      .header__etc .middle-list__link:hover {
        color: #306dbe; }
  .header__links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .header__links-link {
      display: block;
      font-size: 13px; }
      .header__links-link:before {
        color: #ffffff;
        content: '/';
        padding: 0 5px; }
      .header__links-link:hover {
        color: #306dbe;
        text-decoration: none; }
    .header__links-item {
      font-weight: 100; }
    .header__links .first:before {
      content: '';
      padding-left: 0; }
  .header__language {
    border: 1px solid #29324a;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    width: 32px;
    height: 32px;
    text-align: center; }
