@import url(../fonts/ft40/ft40.css);
@import url(../fonts/AG Book Pro Regular/AG Book Pro Regular.css);
@import url(../fonts/AG Book Pro Bold/AG Book Pro Bold.css);
.header {
  background: #19233c;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2; }
  .header__logo, .header__ether {
    border-right: 1px solid #29324a;
    min-height: 80px; }
  .header__logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 1.5rem; }
  .header__ether {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 2rem; }
    .header__ether-info {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      color: white;
      line-height: 1.2; }
      .header__ether-info-text {
        display: inline-block;
        font-size: 12px; }
      .header__ether-info-title {
        font-weight: bold;
        text-transform: uppercase; }
    .header__ether-img img {
      margin-right: 25px; }
  .header__etc {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 -webkit-calc(100% - 358px);
        -ms-flex: 0 0 calc(100% - 358px);
            flex: 0 0 calc(100% - 358px);
    padding-left: 2rem;
    padding-right: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative; }
    .header__etc .middle-list__title {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      color: white;
      line-height: 1.2; }
      .header__etc .middle-list__title .header__ether-info-text {
        font-size: 14px; }
    .header__etc .middle-list__link {
      color: #306dbe;
      display: inline-block;
      font-size: 12px;
      font-weight: bold; }
      .header__etc .middle-list__link:hover {
        color: #306dbe; }
  .header__links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .header__links-link {
      display: block;
      font-size: 13px; }
      .header__links-link:before {
        color: #ffffff;
        content: '/';
        padding: 0 5px; }
      .header__links-link:hover {
        color: #306dbe;
        text-decoration: none; }
    .header__links-item {
      font-weight: 100; }
    .header__links .first:before {
      content: '';
      padding-left: 0; }
  .header__language {
    border: 1px solid #29324a;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    text-align: center; }
  .header__menu {
    display: inline-block;
    justify-self: flex-end;
    margin-left: auto;
    border: 1px solid #333d59;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 116px;
        -ms-flex: 0 0 116px;
            flex: 0 0 116px;
    margin-right: 15px;
    position: relative; }
  .header__author {
    background: url("../img/author.png") no-repeat 10px center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-self: flex-end;
    margin-left: auto;
    border: 1px solid #333d59;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    position: relative;
    min-width: 130px;
    height: 32px;
    margin-right: 15px;
    padding-left: 30px; }
    .header__author-wrap {
      cursor: pointer;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
    .header__author img {
      margin-left: 5px;
      margin-right: 5px; }
    .header__author-name {
      color: #ffffff;
      font-size: 14px; }

.author-list {
  position: absolute;
  background-color: #fff;
  top: 35px;
  right: 10px;
  opacity: 0;
  visibility: hidden;
  height: 0;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  z-index: 1;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  padding: 1rem; }
  .author-list-open {
    -webkit-border-radius: 6px;
            border-radius: 6px;
    height: auto;
    opacity: 1;
    visibility: visible; }
  .author-list__link {
    color: #38393a;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    font-weight: bold;
    padding: 0.5rem; }
    .author-list__link:hover {
      color: #53c599;
      text-decoration: none; }
    .author-list__link img {
      margin-left: 15px; }

.burger {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  text-align: center;
  height: 32px; }
  .burger__open {
    -webkit-border-radius: 20px;
            border-radius: 20px;
    -webkit-border-bottom-right-radius: 0;
            border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
            border-bottom-left-radius: 0;
    background-color: #fff;
    color: #38393a; }
    .burger__open .burger__text {
      color: #38393a; }
  .burger__text {
    color: #ffffff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2; }

.navigation {
  position: absolute;
  background-color: #fff;
  right: 0;
  width: 200%;
  opacity: 0;
  visibility: hidden;
  height: 0;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  z-index: 1;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5); }
  .navigation__link {
    color: #38393a;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 4rem; }
    .navigation__link:hover {
      color: #53c599;
      text-decoration: none; }
    .navigation__link img {
      margin-left: 15px; }
  .navigation__open {
    -webkit-border-radius: 20px;
            border-radius: 20px;
    -webkit-border-top-right-radius: 0;
            border-top-right-radius: 0;
    height: auto;
    opacity: 1;
    visibility: visible; }

.navigation-language {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  position: absolute;
  background-color: #fff;
  top: 35px;
  right: 1rem;
  width: 50px;
  opacity: 0;
  visibility: hidden;
  height: 0;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  z-index: 1;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5); }
  .navigation-language__link {
    color: #38393a;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .navigation-language__link:hover {
      color: #53c599;
      text-decoration: none; }
    .navigation-language__link img {
      margin-left: 15px; }
  .navigation-language__open {
    height: auto;
    opacity: 1;
    visibility: visible; }

.header-responsive {
  display: none; }
