@media screen and (max-width: 1440px)
  .btn-default
    margin: 80px auto
  .contacts
    padding-top: 75px
  .mouse
    position: absolute
    width: 100%
    left: 50%
    transform: translateX(-50%)
    bottom: 50px
    animation-name: unset
@media screen and (max-width: 1199px)
  .header
    &__title
      &-red
        font-size: 32px
      &-default
        font-size: 45px
  .coach
    &__image
      img
        width: 100%
    &__name, &__date, &__info
      padding-left: 1rem
    &__characteristic
      &-text
        font-size: 14px
  .gallery
    &__link
      img
        height: 220px

@media screen and (max-width: 991px)
  .contacts
    padding-top: 50px
  .gallery-section:before
    background: none
  .header__nav-item-last .header__nav-link span
    display: none
  .header__title-default
    font-size: 36px
  .training__group
    img
      width: 100%
  .training__ticket-text
    font-size: 14px
  .training__cost
    font-size: 16px
  .coach
    &__name
      font-size: 21px
    &__info
      p
        font-size: 14px
  .gallery
    padding-bottom: 60px
    &__link
      img
        height: 170px
  #tabs-container2 .tab
    min-height: auto
  .advantage-section
    padding-bottom: 0

@media screen and (max-width: 767px)
  .vertical, .training-section:before, .header__nav
    display: none
  .header__title-default, .header__title-red
    font-size: 24px
  .coach__name, .coach__date, .coach__info
    padding-left: 0
  .coach__name
    padding-top: 25px
  .coach__characteristic-text
    max-width: 50%
    margin: auto
    padding-bottom: 1rem
  .coach__characteristic-text
    text-align: center
  .gallery
    padding-bottom: 0
  .gallery__link img
    height: auto
  .contacts
    &__address, &__info, &__icon,
    &__mail, &__phone
      text-align: center
    &__mail
      margin-top: 15px
  .training__ticket
    padding-bottom: 50px
  .more__link
    display: inline-block
    margin-bottom: 50px

@media screen and (max-width: 575px)
  .header
    padding-left: 15px
    padding-right: 15px
  .header__title
    left: 15px
  .header__title-default
    display: inline
  .training__line,
  .advantage__line,
  .coach__line,
  .gallery__line
    width: 60px
    padding-bottom: 5px
  .training__cost
    font-size: 12px
  .training__text, .training__digits,
  .advantage__text, .advantage__digits,
  .coach__text, .coach__digits,
  .gallery__text, .gallery__digits
    font-size: 14px
  .contacts__title
    font-size: 16px