@import 'vars'
@import 'mixins'
@import 'fonts'


.content
  padding-top: 80px
.left-side-wrapper
  border-radius: 3px
  box-shadow: 0.53px -0.848px 6px 0px rgba(0, 0, 0, 0.14)
  transition: all 0.3s linear
  &:hover
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19)
.currency-list .sell-orders
  max-height: 378px
.sell-orders
  border-top-left-radius: 3px
  border-top-right-radius: 3px
  background-color: rgb(255, 255, 255)
  //box-shadow: 0.53px -0.848px 6px 0px rgba(0, 0, 0, 0.14)
  max-height: 350px
  margin-top: 15px
  &__top
    padding: 14px 1rem
    //padding: 1rem
  &__title
    font-size: 14px
    font-family: $default-font
    color: $title-color
    font-weight: bold
    line-height: 1.429
  &__td
    font-size: 12px
    font-family: $default-font
    color: $title-color
    line-height: 1.25
  &__text
    font-size: 13px
    font-family: $default-font
    color: $title-color
    line-height: 1.538
  tbody
    td
      border: none
      font-weight: 300

.total
  background-color: #d5f1e4
  display: flex
  align-items: baseline
  justify-content: flex-end
  padding: 1rem 4rem
  &__rating
    display: inline-block
    font-size: 22px
    font-family: $default-font
    color: rgb(53, 164, 98)
    line-height: 1.136
  &__sum
    display: inline-block
    font-size: 16px
    font-family: $default-font
    font-weight: bold
    color: rgb(56, 57, 58)
    line-height: 1.563
  &__icon
    margin-left: 10px
    margin-right: 25px
.sell-orders-down
  border-bottom-left-radius: 3px
  border-bottom-right-radius: 3px
.buy-orders
  margin-top: 0
  height: 210px
  border-bottom-left-radius: 3px
  border-bottom-right-radius: 3px
  .table
    margin-bottom: 0
    thead
      tr
        &:nth-of-type(odd)
          background: rgba(0,0,0,.05)
        &:hover
          background: rgba(0,0,0,.075)
    td
      border: none
      .sell-orders
        &__td
          b
            font-weight: bold

.graphic
  background-color: #fff
  height: 458px
  border-radius: 3px
  box-shadow: 0.53px -0.848px 6px 0px rgba(0, 0, 0, 0.14)
  overflow: hidden
  margin-top: 15px
  transition: all 0.3s linear
  &:hover
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19)

.wrapper
  display: flex
  flex-wrap: wrap
  padding: 0 15px
.orders-wrap
  padding-right: 7.5px
  width: 50%
.trades-wrap
  padding-left: 7.5px
  width: 50%

.orders, .trades
  border-radius: 3px
  box-shadow: 0.53px -0.848px 6px 0px rgba(0, 0, 0, 0.14)
  overflow: hidden
  margin-top: 15px
  transition: all 0.3s linear
  padding: 0
  transition: all 0.3s linear
  &:hover
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19)
  .caret
    top: 0
  &-table
    margin-top: 0
    height: 300px
    &__td
      color: $title-color
      font-size: 14px
      height: 24px
      display: flex
      align-items: center
      &-title
        font-weight: bold
        font-size: 14px
    .sell-label
      background-color: #feb937
      border-radius: 3px
      color: #ffffff
      font-weight: bold
      font-family: $default-font
      display: inline-block
      padding: 5px 10px
    .buy-label
      background-color: #3cbf8d
      border-radius: 3px
      color: #ffffff
      font-weight: bold
      font-family: $default-font
      display: inline-block
      padding: 5px 10px
