@import 'vars'
@import 'mixins'
@import 'fonts'


.header
  background: #19233c
  display: flex
  flex-wrap: nowrap
  justify-content: flex-start
  align-items: center
  position: fixed
  width: 100%
  left: 0
  top: 0
  overflow: hidden
  &__logo, &__ether
    border-right: 1px solid #29324a
    min-height: 80px
  &__logo
    display: flex
    align-items: center
    justify-content: center
    padding: 0 1.5rem
  &__ether
    display: flex
    flex-wrap: wrap
    align-items: center
    padding: 0 2rem
    &-info
      font-size: 14px
      font-family: $default-font
      color: rgb(255, 255, 255)
      line-height: 1.2
      &-text
        display: inline-block
        font-size: 12px
      &-title
        font-weight: bold
        text-transform: uppercase
    &-img
      img
        margin-right: 25px
  &__etc
    flex-grow: 1
    padding-left: 2rem
    padding-right: 1rem
    display: flex
    justify-content: space-between
    .middle-list
      &__title
        font-size: 14px
        font-family: $default-font
        font-weight: bold
        color: rgb(255, 255, 255)
        line-height: 1.2
        .header__ether-info-text
          font-size: 14px
      &__link
        color: #306dbe
        display: inline-block
        font-size: 12px
        font-weight: bold
        &:hover
          color: #306dbe
  &__links
    display: flex
    &-link
        display: block
        font-size: 13px
        &:before
          color: #ffffff
          content: '/'
          padding: 0 5px
        &:hover
          color: #306dbe
          text-decoration: none
    &-item
      font-weight: 100
    .first
      &:before
        content: ''
        padding-left: 0
  &__language
    border: $border
    border-radius: 50px
    width: 32px
    height: 32px
    text-align: center

