@import 'vars'
@import 'mixins'
@import 'fonts'
@import 'header.sass'
@import 'tabs.sass'
@import 'content.sass'
@import 'footer.sass'
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700')
//@font-face
//	font-family: "MyriadProSemiBold"
//	src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot")
//	src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
//	url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
//	url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype")
//	font-style: normal
//	font-weight: normal


*
  box-sizing: border-box
  &:hover, &:active, &:focus
      outline: none

html
  font-family: $default-font, Arial, sans-serif
  font-size: 16px
  height: 100%

body
  background-color: #e8e9ec
  margin: 0
  padding: 0
  min-height: 100%
  &:after
    content: ''
    clear: both
    display: table


ul
  padding: 0
  margin: 0
  list-style: none

.table td, .table th
  padding: 5px 1rem
  line-height: 1
.caret
  cursor: pointer
  margin-left: 5px
  position: relative
  top: 1px
.question
  display: inline-block
  border-radius: 50%
  font-size: 12px
  font-weight: bold
  width: 20px
  height: 20px
  padding: 2px
  text-align: center
  background-color: #eceeef
.green
  display: inline-block
  color: #3cbf8d
  font-weight: bold
  margin-right: 5px
.orange
  display: inline-block
  color: #ffba38
  font-weight: bold
  margin-right: 5px
.star-default
  cursor: pointer
  color: $star-color
.table-responsive.sell-orders
  margin-top: 0
.table
  margin-bottom: 0
.active-orders,
.recent-trades
  margin-top: 0
.recent-trades
  &__title
    background-color: #fff
svg
  width: 25px
  height: 25px
//::-webkit-scrollbar
//	width: 3.5px
//::-webkit-scrollbar-thumb
//	background-color: #d3d4da
//	outline: 1px solid slategrey

/* webkit solution */
::-webkit-input-placeholder
  color: #c0c0c2
/* mozilla solution */
input:-moz-placeholder
  color: #c0c0c2


@import "media"
